*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/02/Semafor/nbproject/private/
/02/Semafor/build/
/02/foo/nbproject/private/
/02/App/nbproject/private/
/02/App/build/
/02/foo/build/
/02/Card_Game/nbproject/private/
/02/Card_Game/build/
/04/Time/nbproject/private/
/04/Time/build/
/04/Stopky/nbproject/private/
/05/Sequences/nbproject/private/
/05/Sequences/build/
/05/Rady/nbproject/private/
/06/Bank/nbproject/private/
/06/Bank/build/
/07/Overloading_&_Constants/nbproject/private/
/07/Overloading_&_Constants/build/
/08/equalsHash/nbproject/private/
/08/equalsHash/build/
/09/Duplicates/nbproject/private/
/09/Duplicates/build/
/09/Count/nbproject/private/
/09/Count/build/
/09/BigNumbers/nbproject/private/
/09/BigNumbers/build/
/10/Cipher/nbproject/private/
/10/Cipher/build/
/project/Server/nbproject/private/
/project/Client/nbproject/private/
/project/Server/build/
/project/Client/build/
/11/jUnit/nbproject/private/
/11/jUnit/build/
/11/jUnit/dist/
/11/InOut/nbproject/private/
/11/InOut/build/
/11/AnagramGame/nbproject/private/
/11/AnagramGame/build/
/11/Threads/nbproject/private/
/11/Threads/build/
/13/SvgGraphics/nbproject/private/
/13/SvgGraphics/build/
/13/SvgGraphics/dist/